<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :request_number %>
    <%= form.text_field :request_number %>
  </div>

  <div class="field">
    <%= form.label :sequence_number %>
    <%= form.text_field :sequence_number %>
  </div>

  <div class="field">
    <%= form.label :request_type %>
    <%= form.text_field :request_type %>
  </div>

  <div class="field">
    <%= form.label :request_action %>
    <%= form.text_field :request_action %>
  </div>

  <div class="field">
    <%= form.label :contact_center %>
    <%= form.text_field :contact_center %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
