<div class="container">
  <h2> Ticket Details </h2>
  <% @ticket.attributes.each do |key, value| %>
    <p>
      <strong><%= key.humanize %>: </strong>
      <%= value %>
    </p>
  <% end %>
  <hr />
  <h2> Excavator Details </h2>
  <% @ticket.excavator.attributes.each do |key, value| %>
    <p>
      <strong><%= key.humanize %>: </strong>
      <%= value %>
    </p>
  <% end %>
  <br>
  <hr />
  <%= link_to 'Back', tickets_path %>
  <br><br><br><br><br>
</div>
<h2> Plotted Map </h2>

<div id="map"></div>

<% content_for :page_js  do %>
    <%= javascript_tag do %>
      var map;
      var infoWindow;

      function initMap() {
        selector = document.getElementById('map');
        map = new google.maps.Map(selector, {
          zoom: 11,
          center: <%=raw @ticket.map_coordinates.first.to_json %>,
          mapTypeId: 'terrain'
        });

        var coords = [];
        <% @ticket.map_coordinates.each do |data| %>
          coords.push(<%=raw data.to_json %>);
        <% end %>

        var ticketMap = new google.maps.Polygon({
          paths: coords,
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 3,
          fillColor: '#FF0000',
          fillOpacity: 0.35
        });
        ticketMap.setMap(map);

        ticketMap.addListener('click', showArrays);

        infoWindow = new google.maps.InfoWindow;
      }

      function showArrays(event) {
        var vertices = this.getPath();

        var contentString = '<b>Ticket Excavator info</b><br>' +
            'Clicked location: <br>' + event.latLng.lat() + ',' + event.latLng.lng() +
            '<br>';
        for (var i =0; i < vertices.getLength(); i++) {
          var xy = vertices.getAt(i);
          contentString += '<br>' + 'Coordinate ' + i + ':<br>' + xy.lat() + ',' +
              xy.lng();
        }

        infoWindow.setContent(contentString);
        infoWindow.setPosition(event.latLng);

        infoWindow.open(map);
      }
    <% end %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6XRvj2LObTSCeZDoa1cF1GCS_YhWXii0&callback=initMap">
    </script>
<% end %>