<p id="notice"><%= notice %></p>

<p>
  <strong>Request number:</strong>
  <%= @ticket.request_number %>
</p>

<p>
  <strong>Sequence number:</strong>
  <%= @ticket.sequence_number %>
</p>

<p>
  <strong>Request type:</strong>
  <%= @ticket.request_type %>
</p>

<p>
  <strong>Request action:</strong>
  <%= @ticket.request_action %>
</p>

<p>
  <strong>Contact center:</strong>
  <%= @ticket.contact_center %>
</p>

<hr />
<br>
<%= link_to 'Back', tickets_path %>
<br><br><br><br><br>
<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC_EY2cWB6VR7hggFTSSY6LlBuz5HSfZs&callback=initMap"></script>

<script>

  // This example creates a simple polygon representing the Bermuda Triangle.
// When the user clicks on the polygon an info window opens, showing
// information about the polygon's coordinates.

var map;
var infoWindow;

function initMap() {
  selector = document.getElementById('map');
  map = new google.maps.Map(selector, {
    zoom: 5,
    center: {lat: 24.886, lng: -70.268},
    mapTypeId: 'terrain'
  });

  // Define the LatLng coordinates for the polygon.
  var Coords = [];
  <% @ticket.map_coordinates.each do |data| %>
    Coords.push(<%=raw data.to_json %>);
  <% end %>
  // Construct the polygon.
  var bermudaTriangle = new google.maps.Polygon({
    paths: Coords,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 3,
    fillColor: '#FF0000',
    fillOpacity: 0.35
  });
  bermudaTriangle.setMap(map);

  // Add a listener for the click event.
  bermudaTriangle.addListener('click', showArrays);

  infoWindow = new google.maps.InfoWindow;
}

/** @this {google.maps.Polygon} */
function showArrays(event) {
  var vertices = this.getPath();

  var contentString = '<b>Bermuda Triangle polygon</b><br>' +
      'Clicked location: <br>' + event.latLng.lat() + ',' + event.latLng.lng() +
      '<br>';
  for (var i =0; i < vertices.getLength(); i++) {
    var xy = vertices.getAt(i);
    contentString += '<br>' + 'Coordinate ' + i + ':<br>' + xy.lat() + ',' +
        xy.lng();
  }

  // Replace the info window's content and position.
  infoWindow.setContent(contentString);
  infoWindow.setPosition(event.latLng);

  infoWindow.open(map);
}
</script>